<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <form action="/" id="js-form">
      <input class="input" type="text" placeholder="Enter your url">
      <button class="submit-btn" type="submit">Get your shortened one !</button>
    </form>
    <section id="js-response"></section>
<script src="/client.js"></script>
  </body>
</html>
